html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-container{
    display:flex;
    align-items:center;
    margin-left:12px;
}

    .search-container input {
        width: 200px;
        height: 35px;
        border:none;
    }

.search-container button{
    background-color:lightblue;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    font-size:14px;
    font-weight:500;
    height:35px;
    padding:4px 16px;
    border:none;
}


.details-section h4 {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.details-section p {
    margin: 16px 0px;
    font-size: 18px;
}

.price-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.price-container span{
    font-size:24px;
}

.qunatity-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.qunatity-container button {
    background-color: cornflowerblue;
    color: white;
    border:none;
    border-radius:4px;
    font-size:20px;
    font-weight:600;
    padding:0px 18px;


}

.add-to-cart {
    border: none;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    border-radius:4px;
    margin-top:16px;
}

    .add-to-cart:hover {
        background-color: white;
        color: orange;
    }

.card-profile {
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
    width: 100%;
    padding: 24px;
}

.top-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #161616;
    position: relative;
    top: 8px;
}

.mail {
    font-size: 20px;
    font-weight: 600;
    color: grey;
    position: relative;
    top: 2px;
}

.middle-container {
    background-color: #eee;
    border-radius: 12px;
}

    .middle-container:hover {
        border: 1px solid #5957f9;
    }

.dollar-div {
    background-color: #5957f9;
    padding: 12px;
    border-radius: 10px;
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-btn {
    color: white !important;
    margin: 4px;
    font-weight: 600;
}
.our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}


    .our-team-main img {
        border-radius: 50%;
        margin-bottom: 20px;
        width: 90px;
    }

    .our-team-main h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .our-team-main p {
        margin-bottom: 0;
    }

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

/*our-