
<div class="details-container">
    <div class="image-section"></div>
    <div class="details-section">
        <h4>titulli shtu</h4>
        <hr/>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
            corporis atque, fugiat quam excepturi perferendis esse reprehenderit
            voluptatibus sed aspernatur maiores quos minus sequi pariatur voluptatem
            doloremque non laboriosam nam!
            dsadsadsa
        </p>
        <div class="price-container">
            <div class="qunatity-container">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <span>15$</span>
        </div>
        <button class="add-to-cart">Add to cart +</button>
    </div>
</div>


