



<html>
    <head>
    <link rel="stylesheet" href="/css/Homes.css" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const carousels = document.querySelectorAll(".carousel");

            carousels.forEach(function (carousel) {
                const prevButton = carousel.querySelector(".prev-button");
                const nextButton = carousel.querySelector(".next-button");
                const carouselInner = carousel.querySelector(".carousel-inner");
                const carouselImages = carouselInner.querySelectorAll("img");

                let currentIndex = 0;
                const maxIndex = carouselImages.length - 1;

                prevButton.addEventListener("click", function () {
                    currentIndex = (currentIndex - 1 + carouselImages.length) % carouselImages.length;
                    updateCarousel();
                });

                nextButton.addEventListener("click", function () {
                    currentIndex = (currentIndex + 1) % carouselImages.length;
                    updateCarousel();
                });

                function updateCarousel() {
                    carouselImages.forEach(function (image, index) {
                        if (index === currentIndex) {
                            image.style.display = "block";
                        } else {
                            image.style.display = "none";
                        }
                    });
                }
            });
        });
       // <div class="pic-ctn" >
         //   <img src="/NewFolder/Screenshot (32).png" alt = "Image 1" >
           //     <img src="/NewFolder/Screenshot (31).png" alt = "Image 2" >
             //       <img src="/NewFolder/Screenshot (33).png" alt = "Image 3" >
               //         <img src="/NewFolder/Screenshot (30).png" alt = "Image 4" >
                 //           <img src="/NewFolder/Screenshot (32).png" alt = "Image 5" >
                   //             <img src="/NewFolder/Screenshot (31).png" alt = "Image 6" >
                     //               </div>
    </script>
    </head>
    <body>






    <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
            <li id="carousel__slide1"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper">
                    <a href="#carousel__slide4"
                       class="carousel__prev">Go to last slide</a>
                    <a href="#carousel__slide2"
                       class="carousel__next">Go to next slide</a>
                </div>
            </li>
            <li id="carousel__slide2"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide3"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide4"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1"
                   class="carousel__next">Go to first slide</a>
            </li>
        </ol>
        <aside class="carousel__navigation">
            <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide1"
                       class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide2"
                       class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide3"
                       class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide4"
                       class="carousel__navigation-button">Go to slide 4</a>
                </li>
            </ol>
        </aside>
    </section>


    </body>


</html>