@model EBeats.Models.Guest
<h4>Të dhena Personale</h4>
<table class="table">
    <tr><td>Pajisja juaj e preferuar:</td><td>@Model.Pajisja</td></tr>
    <tr><td>Ngjyra juaj e preferuar:</td><td>@Model.Ngjyra</td></tr>
    <tr><td>Cmimi juaj i arsyeshem:</td><td>@Model.Cmimi</td></tr>
</table>